<%= form_for(@kitten, url: yield(:rest_url)) do |f| %>
	<p>
	<%= f.label 'Name' %>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label 'Age' %>
	<%= f.number_field :age %>
	</p>
	<p> 
	<%= f.label 'Cuteness' %>
	<%= f.number_field :cuteness %>
	</p>
	<p>
	<%= f.label 'Softness' %>
	<%= f.number_field :softness %>
	</p>
	<p><%= f.submit yield(:button_text)  %></p>
<% end %>
